.banner{
    height: 500px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#021747ce,#453251cb),url("https://images.unsplash.com/photo-1544256718-3bcf237f3974?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.categories{
    background-color: #06132e;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .banner{
        height: 300px;
    }
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .banner{
        height: 380px;
    }
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .banner{
        height: 400px;
    }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/*Extra large devices (Extra large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {  }

/*Extra large devices (Extra Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) {  }